@model BPOAttendanceProject.Models.PocWiseModel


   
<div class="page-container" style="margin-top: 20px">
    <!-- BEGIN SIDEBAR -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="m-heading-1 border-green m-bordered ">
                    <div class="caption font-dark">
                        <span class="caption-subject bold uppercase">Reports</span>
                    </div>
                </div>

<div class="portlet-body">

                            <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1_1" data-toggle="tab">Monthly Report </a> </li>
                                            <li><a href="#tab_1_2" data-toggle="tab"> Yearly Report  </a> </li>
                                            
                                           
                            </ul>

                    <div class="tab-content">
                     <div class="tab-pane fade active in" id="tab_1_1">
                             <div class="portlet-body">

                               @if (@TempData["Msg"] != null)
                            {
                                <div class="alert alert-info" id="MsgDiv">
                                    <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                    @TempData["Msg"]
                                </div>
                            }


                   
                                <div class="form-horizontal">
                                    <div class="form-body">

                                         <div class="row">
                            <div class="col-md-1">Month</div>
                            <div class="col-md-3 valid-group">
                                 @Html.DropDownListFor(model => model.MonthName, new SelectList(new List<SelectListItem> { 
                                                                                                         new SelectListItem { Text = "January", Value = "January"}, 
                                                                                                         new SelectListItem { Text = "February", Value = "February"}, 
                                                                                                         new SelectListItem { Text = "March", Value = "March"}, 
                                                                                                         new SelectListItem { Text = "April", Value = "April"},                   
                                                                                                         new SelectListItem { Text = "May", Value = "May"},
                                                                                                         new SelectListItem { Text = "June", Value = "June"}, 
                                                                                                         new SelectListItem { Text = "July", Value = "July"}, 
                                                                                                         new SelectListItem { Text = "August", Value = "August"}, 
                                                                                                         new SelectListItem { Text = "September", Value = "September"},                   
                                                                                                         new SelectListItem { Text = "October", Value = "October"},
                                                                                                         new SelectListItem { Text = "November", Value = "November"},
                                                                                                         new SelectListItem { Text = "December", Value = "December"}
                                                                                                     }, "Value", "Text"), "Select",new {style = "width: 100%;", @required = "required", @class = "btn dropdown-toggle btn-default", @autocomplete = "off", @id = "drpMonth"  })
                                                       
                               
                            </div>
                          
                            
                            
                          
                            </div>
                                       
                                         <div class="row">
                            <div class="col-md-1">Year</div>
                            <div class="col-md-3 valid-group">
                                  @Html.DropDownListFor(model => model.YearName , new SelectList(new List<SelectListItem> {
                                                                                                           new SelectListItem { Text = "2022", Value = "2022"}, 
                                                                                                          new SelectListItem { Text = "2021", Value = "2021"}, 
                                                                                                         new SelectListItem { Text = "2020", Value = "2020"},
                                                                                                         new SelectListItem { Text = "2019", Value = "2019"},
                                                                                                     }, "Value", "Text"), "Select",new {style = "width: 100%;", @required = "required", @class = "btn dropdown-toggle btn-default", @autocomplete = "off", @id = "drpYear" })
                                                       
                            </div>
                          
                            
                            
                          
                            </div>
                                        <div class="row">
                                        <div class="col-md-9">
                                            
                                                <div class="btn-group">
                                                <button id="empwise1" class="btn sbold green" onclick="UploadReport()">
                                                    Report
                                                </button>
                                                </div>
                                               

                                            
                                          
                                            

                                       


                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                       
                                        </div>
                                    </div>
                                </div>              
                            <div style="height:15px;"></div>
                            <div id="reportmonthlist"> </div>
                            <div id="monthwait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:35%;left:35%;padding:2px;"><img src='../assets/pages/img/demo_wait.gif' width="64" height="64" /><br>Loading..</div>
   
                    </div>
             
                     <div class="tab-pane fade" id="tab_1_2">
                            <div class="portlet-body">

                               @if (@TempData["Msg"] != null)
                            {
                                <div class="alert alert-info" id="MsgDiv1">
                                    <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                    @TempData["Msg"]
                                </div>
                            }


                   
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                           
                                            

                                            <div class="col-md-3">

                                              <div class="form-group">
                                                    <label class="col-md-3 control-label">Year</label>
                                                    <div class="col-md-9">
                                                         <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                   
                                                      @Html.DropDownListFor(m => m.Id , new SelectList(new List<SelectListItem> {
                                                                                                        new SelectListItem { Text = "2021 -2022", Value = "2021-2022"}, 
                                                                                                         new SelectListItem { Text = "2020 -2021", Value = "2020-2021"},
                                                                                                         new SelectListItem { Text = "2019-2020", Value = "2019-2020"},
                                                                                                     }, "Value", "Text"), "Select",new {style = "width: 100%;", @required = "required", @class = "btn dropdown-toggle btn-default", @autocomplete = "off", @id = "drpYYear"  })
                                                       
                                                       
                                                    </div>


                                                    
                                                </div>

                                                  </div>
                                                
                                            
                                                 
                                            </div>
                                         

                                             
                                        <div class="col-md-9">
                                            
                                                <div class="btn-group">
                                                <button id="empwise" class="btn sbold green" onclick="POCReport()">
                                                    Report
                                                </button>
                                                </div>
                                               

                                            
                                          
                                            

                                       


                                            </div>

                          
                                        
                                        </div>
                                        </div>
                                    </div>
                                </div>              
                            <div style="height:15px;"></div>
                            <div id="reportyearlist"> </div>
                           
                            <div id="yearwait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:35%;left:35%;padding:2px;"><img src='../assets/pages/img/demo_wait.gif' width="64" height="64" /><br>Loading..</div>
   
           
            
    
                    </div>

    </div>
 </div>






 </div>

</div>
   

 </div>
 </div>

<script>

    function UploadReport() {

        var pathurl = '@Url.Action("DisplayPOCdata", "Invoice")';
         $.ajax(
         {
             url: pathurl,
             type: 'GET',
             data: {

                 month: $('#drpMonth').val(),
                 year: $('#drpYear').val()

             },
             success: function (data) {
                 $("#reportmonthlist").html(data);
             },
             error: function () {
                 alert("error");
             }
         });

     }


    function POCReport() {

        var b = $("#drpYYear option:selected").text();
       
        if (b == "Select") {
            alert("Please select year");
            return false;
        }
        else {

            $("#yearwait").css("display", "block");
            var pathurl = '@Url.Action("POCReport", "Invoice")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {

                    Year: $("#drpYYear option:selected").text()
                },
                success: function (data) {
                    $("#yearwait").css("display", "none");
                    $("#chartview").html("");
                    $("#reportyearlist").html(data);

                }
            });
        }


 }


   
   




</script>