<link href="../assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />

@model BPOAttendanceProject.Models.StaffAugServices

<div>
    @using (Html.BeginForm("SaveAdditionalInfo", "StaffAug", FormMethod.Post, new { @classs = "invoiceform", @id = "form" }))
    {
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div>
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="m-heading-1 border-green m-bordered">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>
                                  
                                      @if (Model.Id == 0)
                                    {
                                    <span class="caption-subject font-dark sbold uppercase">Add </span>
                                    }
                                    else
                                    {
                                        <span class="caption-subject font-dark sbold uppercase">Edit </span>
                                    }


                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                        @*    <div class="col-md-4">
                                                <div class="form-group">
                                                     @Html.HiddenFor(model => model.Id, new { @Id = "Id" })
                                                     <label class="col-md-3 control-label">GIS Services</label>
                                                    <div class="col-md-9">
                                                 
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.softwareservices, new { @id = "txtsoftwareservice", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="100" })

                                                        </div>
                                                  


                                                    </div>
                                            </div>
                                        </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                      @Html.HiddenFor(model => model.Id, new { @Id = "Id" })
                                                <label class="col-md-3 control-label">Month </label>
                                                <div class="col-md-9 valid-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                
                                                    
                                                    @Html.DropDownListFor(model => model.Month , new SelectList(new List<SelectListItem> { 
                                                                                                         new SelectListItem { Text = "January", Value = "1"}, 
                                                                                                         new SelectListItem { Text = "February", Value = "2"}, 
                                                                                                         new SelectListItem { Text = "March", Value = "3"}, 
                                                                                                         new SelectListItem { Text = "April", Value = "4"},                   
                                                                                                         new SelectListItem { Text = "May", Value = "5"},
                                                                                                         new SelectListItem { Text = "June", Value = "6"}, 
                                                                                                         new SelectListItem { Text = "July", Value = "7"}, 
                                                                                                         new SelectListItem { Text = "August", Value = "8"}, 
                                                                                                         new SelectListItem { Text = "September", Value = "9"},                   
                                                                                                         new SelectListItem { Text = "October", Value = "10"},
                                                                                                         new SelectListItem { Text = "November", Value = "11"},
                                                                                                         new SelectListItem { Text = "December", Value = "12"}
                                                                                                     }, "Value", "Text"), "Select",new {style = "width: 100%;", @required = "required", @class = "btn dropdown-toggle btn-default", @autocomplete = "off", @id = "drpMonth" })
                                                       
                                              
                                                    </div>
                                                </div>
                                            </div>

                                            </div>
                                            <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Year</label>
                                                <div class="col-md-9 valid-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                      @Html.DropDownListFor(model => model.Year , new SelectList(new List<SelectListItem> {
                                                                                                          new SelectListItem { Text = "2021", Value = "1"}, 
                                                                                                         new SelectListItem { Text = "2020", Value = "2"},
                                                                                                         new SelectListItem { Text = "2019", Value = "3"},
                                                                                                     }, "Value", "Text"), "Select",new {style = "width: 100%;", @required = "required", @class = "btn dropdown-toggle btn-default", @autocomplete = "off", @id = "drpYear"  })
                                                       

                                                    </div>
                                                </div>
                                            </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Internal Billing</label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.internalbilling, new { @id = "txtinternalbilling", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="10",onchange = "CalculateProduction();",onkeypress = "return isNumber(event)" })

                                                        </div>
                                                   


                                                    </div>
                                                </div>
                                                 
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">External Billing</label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.externalbilling, new { @id = "txtexternalbilling", @class = "form-control", @autocomplete = "off", @required = "required",@maxlength="10",onchange = "CalculateProduction();",onkeypress = "return isNumber(event)" })

                                                        </div>
                                                   


                                                    </div>
                                                </div>
                                                 
                                            </div>

                                          
                                        </div> 

                                        <div class="row">
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Resources</label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.Resources, new { @id = "txtresource", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)",onchange = "CalculateETO();" })
                                                            @Html.HiddenFor(model => model.etoinINR, new { @id = "txtetoinr", @class = "form-control", @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)" })
                                                            @Html.HiddenFor(model => model.etoinUSD, new { @id = "txtetousd", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="10" ,onkeypress = "return isNumber(event)"})
                                                            @Html.HiddenFor(model => model.Total, new { @id = "txttotal", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)" })

                                                        </div>
                                                   


                                                    </div>
                                                </div>
                                                 
                                            </div>

                                       
                                        </div> 

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Attrition</label>
                                                    <div class="col-md-9">
                                                 
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.Attrition, new { @id = "txtsoftwareservice", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="100" })

                                                        </div>
                                                  


                                                    </div>
                                            </div>
                                        </div>
                                        </div>

                                         <div class="row">
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Billed including Internal </label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.billedincluded, new { @id = "txtbilledincluded", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)" })

                                                        </div>
                                                   


                                                    </div>
                                                </div>
                                                 
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Not Billed</label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.notbilled, new { @id = "txtnotbilled", @class = "form-control", @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)" })

                                                        </div>
                                                   


                                                    </div>
                                                </div>
                                                 
                                            </div>

                                               <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Idle hrs</label>
                                                    <div class="col-md-9">
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.idlehrs, new { @id = "txtnotbilled", @class = "form-control", @autocomplete = "off", @required = "required",@maxlength="10",onkeypress = "return isNumber(event)" })

                                                        </div>

                                                    </div>
                                                </div>
                                                 
                                            </div>

                                        </div>
                                         <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                     <label class="col-md-3 control-label">Best Performer</label>
                                                    <div class="col-md-9">
                                                 
                                                     <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.bestperformer, new { @id = "txtbestperformer", @class = "form-control",  @autocomplete = "off", @required = "required",@maxlength="100" })

                                                        </div>
                                                  


                                                    </div>
                                            </div>
                                        </div>
                                        </div> 

                                    
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>

                </div>
            </div>
         <div class="modal-footer">


              
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn green">Save</button>
            </div>
       
    }
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->





<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-sweetalert/sweetalert.js"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript">
    var result = "";
    
  
    $(function () {
        $('#form').validate({

            rules: {
                Month: {
                    required: true
                },
                Year: {
                    required: true
                },
               
                internalbilling: {
                    required: true
                },
                externalbilling: {
                    required: true
                },
                Resources: {
                    required: true
                }
                
        },

            messages: {
                Month: {
                    required: " Select Month."
                },
                Year: {
                    required: "Select Year."
                },
               
                internalbilling: {
                    required: "Resources no required."
                },
                externalbilling: {
                    required: "Resources no required."
                },
                Resources: {
                    required: "Resources no required."
                }
                
               
                
            },

            invalidHandler: function (event, validator) {

                $('.alert-danger', $('#form')).show();
            },

            highlight: function (element) { // hightlight error inputs
                $(element).closest('.valid-group').addClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label.closest('.valid-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element.closest('.input-group'));
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });

   


    function CalculateProduction(value) {
        var internal = $('#txtinternalbilling').val();
        var external = $('#txtexternalbilling').val();

        if (internal != '' && external != '') {
            
            total = (parseFloat(internal) + parseFloat(external)).toFixed(2);
                    
                    $('#txttotal').val(total);

                }
    }

    function CalculateETO(value) {
        var internal = $('#txtinternalbilling').val();
        var external = $('#txtexternalbilling').val();
        var resource = $('#txtresource').val();

        if (internal != '' && external != '') {

            total = (parseFloat(internal) + parseFloat(external)).toFixed(2);
            
            resourceeto = (parseFloat(total) / resource).toFixed(0);
            $('#txtetoinr').val(resourceeto);

        }
          
            var month = $('#drpMonth').val();
            var year = $('#drpYear').val();
            var pathurl = '@Url.Action("CalculateETo", "MRM")';
             $.ajax({
                 url: pathurl,
                 type: 'GET',
                 data: {
                     month: month,
                     year:year

                 },
                 success: function (data) {
                   
                     totusd = (parseFloat(resourceeto) / parseFloat(data.rate)).toFixed(0);
                     $('#txtetousd').val(totusd);
                 }
             });



       




    }


   




    
  


</script>
<style>

    .sweet-overlay {
        z-index: 20000;
    }

    .sweet-alert {
        z-index: 20000;
    }

    #errmsg
{
color: red;
}

</style>















