@model BPOAttendanceProject.Models.SummarySheetModel 




       @* @if (Model.lstSummarySheetmodel != null)
        {

  *@<table style="width:100%;border: 1px solid black;padding: 5px;">
        <tr>
        <th style="border: 1px solid black;padding: 5px;">Date</th>
        <th style="border: 1px solid black;padding: 5px;">Location</th>
        <th style="border: 1px solid black;padding: 5px;">Hours planned</th>
        <th style="border: 1px solid black;padding: 5px;">Production planned/Hr Records</th>
        <th style="border: 1px solid black;padding: 5px;">Production planned Records</th>
        <th style="border: 1px solid black;padding: 5px;">Hours Worked</th>      
        <th style="border: 1px solid black;padding: 5px;">Actual Production Records</th> 
        <th style="border: 1px solid black;padding: 5px;">% Achievement</th> 
        <th style="border: 1px solid black;padding: 5px;">Target Revenue INR</th>
        <th style="border: 1px solid black;padding: 5px;">Actual Revenue INR</th>
        <th style="border: 1px solid black;padding: 5px;">% Revenue Achievement</th>
        </tr>
            
                @*  @foreach (var item in Model.lstSummarySheetmodel)
                  { 
                       
                     <tr>
                        <td style="border: 1px solid black;padding: 5px;">@item.Date</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.Location</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.hoursplanned</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.prodplanhrrecord</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.prodplanrecords</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.hoursworked</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.Actualprodrecord</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.Achievement%</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.TarrevenueINR</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.ActrevenueINR</td>
                        <td style="border: 1px solid black;padding: 5px;">@item.RevAchievement%</td>
                     </tr>
                  }
              *@

                        
                 
      </table>
    
       @* }*@


