@model  BPOAttendanceProject.Models.EmployeeETO
@{

    int count = 0;
}



@if (Model.LstEmployeeETO.Count > 0)
{

    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tblPreprocess">
        <thead>
            <tr>
                <th style="width:5%">SI No </th>
                <th style="width:5%">PSN </th>
                <th style="width:5%">Employee </th>
                <th style="width:5%">Date</th>
                <th style="width:20%">Actual Revenue(INR) </th>
                <th style="width:20%">Employee ETO(USD) </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.LstEmployeeETO)
            {

                count = count + 1;
                <tr class="odd gradeX">
                    <td>
                        @count
                    </td>
                    <td>@item.psn</td>
                    <td>@item.associate</td>
                    <td>@item.Date</td>
                    <td>@Math.Round(item.actualrevenue, 2)</td>
                    <td>@Math.Round(((item.actualrevenue / item.dollarrate)), 2)</td>

                </tr>

            }

        </tbody>
    </table>
}

else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>No Records Found</strong><br />
            </div>
        </div>
    </div>
}
