@{
   
}
<link href="../assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />

@model BPOAttendanceProject.Models.FinalQcModel

<div>
    @using (Html.BeginForm("SaveQC", "Admin", FormMethod.Post, new { @classs = "userform", @id = "form" }))
    {
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div>
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="m-heading-1 border-green m-bordered">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>
                                  
                                      @if (Model.Id > 0)
                                    {
                                    <span class="caption-subject font-dark sbold uppercase">Edit Details</span>
                                    }
                                   


                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    @Html.HiddenFor(model => model.Id, new { @Id = "Id" })
                                                    <label class="col-md-3 control-label">Project</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span id="errmsg" class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.project, new {  @id = "txtproject", @class = "form-control", @placeholder = "Project", @autocomplete = "off", @required = "required",@maxlength="20" })
                                                            
                                                        </div>


                                                    </div>
                                                </div>
                                               

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">Location</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.Location, new { @id = "txtlocation", @class = "form-control", @placeholder = "Location", @autocomplete = "off", @required = "required",@maxlength="50" })

                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">TL</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.TL, new { @id = "txtTL", @class = "form-control", @placeholder = "TL", @autocomplete = "off", @required = "required",@maxlength="50" })

                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label">No of Characters</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.totalpromotion, new {  @id = "txtnoofcharacter", @class = "form-control", @placeholder = "No of characters", @autocomplete = "off",@maxlength="50" })

                                                        </div>


                                                    </div>
                                                </div>

                                            


                                               <div class="form-group">
                                                    <label class="col-md-3 control-label">Event code</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.Eventcode, new {  @id = "txtEventcode", @class = "form-control", @placeholder = "Event code", @autocomplete = "off",@maxlength="50" })

                                                        </div>


                                                    </div>
                                                </div>

                                               


                                                   

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn green">Save</button>
            </div>
        </div>
    }
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->





<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-sweetalert/sweetalert.js"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript">
    var result = "";
    jQuery(document).ready(function () {
        var Id = $("#Id").val();
        if (Id == 0)
        {
            $("#chkActive").prop("checked", true);
        }
        $('#txtPassword').keyup(function () {
            $('#result').html(passwordStrength($('#txtPassword').val(), ""))
            result = $('#result').html();
            if (result == "Too short") {
                $('#result').attr({ 'style': 'color:Red;' });
            }
            if (result == "Bad") {
                $('#result').attr({ 'style': 'color:Olive;' });
            }
            if (result == "Good") {
                $('#result').attr({ 'style': 'color:Lime;' });
            }
            if (result == "Strong") {
                $('#result').attr({ 'style': 'color:Green;' });
            }

        })

        $("#txtusername").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });



    })
  
    $(function () {
        $('#form').validate({

            rules: {
                UserName: {
                    required: true
                },
                Password: {
                    required: true
                },
                FirstName: {
                    required: true
                },
                
                EmailId: {
                    required: true,
                    email: true
                }
        },

            messages: {
                UserName: {
                    required: " Username  required."
                },
                Password: {
                    required: "Password is required."
                },
                FirstName: {
                    required: "FirstName is required."
                },
               
                LastName: {
                    required: "LastName is required."
                },
                EmailId: {
                    
                    email: "Please enter a valid email address"
                }
               
               
                
            },

            invalidHandler: function (event, validator) {

                $('.alert-danger', $('#form')).show();
            },

            highlight: function (element) { // hightlight error inputs
                $(element).closest('.valid-group').addClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label.closest('.valid-group').removeClass('has-error');
                label.remove();
            },

            errorPlacement: function (error, element) {
                error.addClass('text-danger');
                error.insertAfter(element.closest('.input-group'));
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });

   




    function checkEmail(value) {

        var valid = true;

        if (value.indexOf('@@') == -1) {
            valid = false;
        } else {

            var parts = value.split('@@');
            var domain = parts[1];

            if (domain.indexOf('.') == -1) {

                valid = false;

            } else {

                var domainParts = domain.split('.');
                var ext = domainParts[1];

                if (ext.length > 4 || ext.length < 2) {

                    valid = false;
                }
            }

        }


        return valid;

    };




    function CheckAccessAlreadyExist(object) {
     
        var Value = $("#txtusername").val();
        if (Value.length > 0) {
            var pathurl = '@Url.Action("CheckStringWithOneColumn", "Admin")';
            $.ajax({
                url: pathurl,
                type: 'POST',
                data: {ActualValue: Value },
                success: function (data) {
                    if (data == "true") {
                        alert("UserName  already exist !");
                        $(object).val("");
                        $(object).focus();
                    }
                }
            });
        }
    }

    function CheckAccessEmailAlreadyExist(object) {


        var TableName = "muser";
        var ColumnName = "EmailId";
        var Value = $("#txtEmailId").val();
        if (Value.length > 0) {
            var pathurl = '@Url.Action("CheckStringWithOneColumn", "Admin")';
            $.ajax({
                url: pathurl,
                type: 'POST',
                data: { ActualTableName: TableName, ActualColumnName: ColumnName, ActualValue: Value },
                success: function (data) {
                    if (data == "true") {
                        bootbox.alert("Email already exist !");
                        $(object).val("");
                        $(object).focus();
                    }
                }
            });

        }
    }



</script>
<style>

    .sweet-overlay {
        z-index: 20000;
    }

    .sweet-alert {
        z-index: 20000;
    }

    #errmsg
{
color: red;
}

</style>















