@model  BPOAttendanceProject.Models.DailyProductionViewModel  

@if (Model.LstDailyProductionReport.Count > 0)
{
    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tblPreprocess">
        <thead>
            <tr>
                @*<th style="width:5%">TL </th>*@
                <th style="width:15%">Associates Count </th>
                <th style="width:5%">Total Target</th>
                <th style="width:5%">Total Production</th>
                <th style="width:5%">Total Hours</th>
                <th style="width:5%">Character Count</th>
                <th style="width:5%">Average records/hour</th>
                <th style="width:5%">Average character/hour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstDailyProductionReport)
            {
                <tr class="odd gradeX">
                   @* <td>@item.tl</td>*@
                    <td>@item.Associatecount</td>
                    <td>@item.totaltarget</td>
                    <td>@item.totalproduction</td>
                    <td>@item.totalhours</td>
                    <td>@item.Charactercount</td>
                    <td>@item.Averagerecordhour</td>
                    <td>@item.Averagecharacterhour</td>
                </tr>
                       
            }

        </tbody>
</table>
    
 
        <table style="width:100%;border: 1px solid black;padding: 5px;">
        <tr>
        <th style="border: 1px solid black;padding: 5px;" >TL</th>
         <th style="border: 1px solid black;padding: 5px;">Associate count </th>
        <th style="border: 1px solid black;padding: 5px;">Associate hours </th>
        <th style="border: 1px solid black;padding: 5px;">Total records processed</th>
        <th style="border: 1px solid black;padding: 5px;">Total characters delivered</th>
        <th style="border: 1px solid black;padding: 5px;">Average records/hour</th>
        <th style="border: 1px solid black;padding: 5px;">Average characters delivered/hour </th>
       
        </tr>
             @foreach (var item in Model.LstDailyTLwiseProductionReport)
             {
                 if (@Model.LstDailyProductionReport.First().Averagerecordhour > @item.Averagerecordhour)
                 {
                  <tr style="color:red">
                    <td style="border: 1px solid black;padding: 5px;">@item.tl</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Associatecount</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.totalhours</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.totalproduction</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Charactercount</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Averagerecordhour</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Averagecharacterhour</td>
                 </tr>
                 }
                 else
                 {
                    <tr style="color:green">
                    <td style="border: 1px solid black;padding: 5px;">@item.tl</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Associatecount</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.totalhours</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.totalproduction</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Charactercount</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Averagerecordhour</td>
                    <td style="border: 1px solid black;padding: 5px;">@item.Averagecharacterhour</td>
                 </tr> 
                      
                 }

             }




        </table>
    
  
    
    
    
    
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>No Daily Production Found on this date</strong><br />
            </div>
        </div>
    </div>
}


<script>


    jQuery(function ($) {
        $('#tblPreprocess').dataTable({

            "aoColumns": [
                              null, null, null, null, null, null,null
            ]

        });

    });

</script>

