@model  BPOAttendanceProject.Models.User  

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}




<!-- BEGIN PAGE LEVEL PLUGINS -->

<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE BAR -->






<div class="page-container" style="margin-top:20px">
    <!-- BEGIN SIDEBAR -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">Existing User List</span>
                    </div>
                  
                </div>
                <div class="portlet-body">
                     @if (Model != null)
                     {
                         Model.Id = 0;

                         if (Model.Id == 0)
                         {     


                    <div class="table-header">
                                                <div class="form-group">
                                                    @if (@TempData["Msg"] != null)
                                                    {
                                                        <div class="alert alert-info" id="MsgDiv">
                                                            <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                                            @TempData["Msg"]
                                                        </div>
                                                    }
                                                </div>
                    </div> 

                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <button id="sample_editable_1_new" class="btn sbold green" onclick="OpenUserIndex()">
                                        Add New
                                                           
                                    <i class="fa fa-plus"></i>
                                    </button>
                                </div>

                                @*<div class="btn-group">
                                    <button id="tt" class="btn sbold green" onclick="OpenbulkUser()">
                                        Add Employee
                                                           
                                    <i class="fa fa-plus"></i>
                                    </button>
                                </div>*@
                            </div>
                        
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tbluser">
                        <thead>
                            <tr>
                                @*<th>
                                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                            <span></span>
                                                        </label>
                                                    </th>*@
                                <th>Sl No </th>
                                <th>Name </th>
                                <th>User Name </th>
                                <th>Email </th>
                                <th>User Type </th>
                                <th>Status </th>
                                <th>Actions </th>
                            </tr>
                        </thead>
                        <tbody>

                             @foreach (var item in Model.UserList)
                             {
                                 count = count + 1; 
                            <tr class="odd gradeX">
                                <td>
                                   @count
                                </td>
                                <td>@(item.FirstName + " " + item.LastName)</td>
                                <td>@item.UserName</td>
                                <td>@item.EmailId</td>
                                <td>@item.Role</td>

                                <td>

                                      @if (@item.IsActive == true)
                                                            {
                                    <span class="label label-sm label-success">Active </span>
                                      }
                                    else
                                    {
                                      <span class="label label-sm label-success">Inactive </span>
                                    }
                                </td>
                               
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                            Actions
                                                               
                                        <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left" role="menu">
                                            <li>
                                                <a href="javascript:;"   onclick="GetUserPopup(@item.Id,'Edit');" ><i class="icon-docs"></i>Edit </a>
                                                    
                                            </li>
                                            <li>
                                                <a href="javascript:;"   onclick="DeleteUser(@item.Id,'Delete');"><i class="icon-tag"></i>Delete </a>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                       
                             }

                        </tbody>
                    </table>
                         }
                         else
                         {
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="alert alert-info">
                                                        <strong>No user Information Found</strong><br />
                                                    </div>
                                                </div>
                                            </div>
                         }
                     }
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>

    </div>
    <div id="userform" class="modal fade bs-modal-lg container " tabindex="-1">
    </div>
   
</div>





<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="../Scripts/passwordStrengthMeter.js"></script>
<script>
    $(document).ready(function () {
        $('#clickmewow').click(function () {
            $('#radio1003').attr('checked', 'checked');
        });
    })
    function GetUserPopup(_ID) {
       
       
        var pathurl = '@Url.Action("GetUserPopup", "Admin")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                ID: _ID
            },
            success: function (data) {
                $("#txtusername").val('');
                $("#userform").html("");
                $("#userform").html(data);
                $("#userform").modal({                    // wire up the actual modal functionality and show the dialog
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true                     // ensure the modal is shown immediately
                });
            }
        });
    }


    function DeleteUser(_ID) {
        swal({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Delete",
            
            closeOnConfirm: false
        },
  function () {

              $.ajax({
                    url: '@Url.Action("DeleteUser", "Admin")',
                    type: 'POST',
                    data: { ID: _ID },
                    success: function (data) {
                        window.location.reload();
                        //$("#roleform").empty();
                        //$("#roleform").html(data);
                    },
                    error: function (result) {
                    },
                    complete: function (result) {
                    }
                })
            //}
        });
    }

    function OpenUserIndex() {
       
        var pathurl = '@Url.Action("UserForm", "Admin")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            success: function (data) {
                $("#userform").html(data);
                $("form").attr('autocomplete', 'off')
                $("#userform").modal({                    // wire up the actual modal functionality and show the dialog
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true                     // ensure the modal is shown immediately
                });
            }
        });
    }


    

    function OpenbulkUser() {

        var pathurl = '@Url.Action("OpenbulkUser", "Admin")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            success: function (data) {
                $("#userform").html(data);
                $("form").attr('autocomplete', 'off')
                $("#userform").modal({                    // wire up the actual modal functionality and show the dialog
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true                     // ensure the modal is shown immediately
                });
            }
        });
    }

    jQuery(function ($) {
        $('#tbluser').dataTable({

            "aoColumns": [
                              { "bSortable": false },null,null,null,null,
                              null,  { "bSortable": false }
            ]




        });

    });

    jQuery(document).ready(function () {
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);
        $('#divPhotolistpop').css('width', '55%');
    });





        </script>





