@{
   
}

@model  BPOAttendanceProject.Models.ProductionModel    

@if (Model.LstProductionModel.Count > 0)
{
    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="tblPreprocess">
        <thead>
            <tr>
                <th style="width:15%;text-align: left;">Project </th>
                <th style="width:15%;text-align: left;">Planned Record </th>
                <th style="width:15%;text-align: left;">Actual Record </th>
                <th style="width:20%;text-align: center;">Average Production/Hr </th>
                 <th style="width:20%;text-align: center;">Average Production/Resource </th>
               
            </tr>
        </thead>
        <tbody>

         @foreach (var item in Model.LstProductionModel)
           {
             
             
         <tr class="odd gradeX">
                            <td style="text-align: left;">@item.projectcode</td>
                            <td style="text-align: right;">@Math.Round(item.plannedprodrecord,2)</td>
                            <td style="text-align: right;">@Math.Round(item.actualprodrecord,2)</td>
                            <td style="text-align: right;">@Math.Round((item.actualprodrecord/item.workedhrs),2)</td>
                             <td style="text-align: right;">@Math.Round((item.actualprodrecord/item.employeeno),2)</td>
           </tr>  
         }
            
 </tbody>
  </table>
}
 else
                         {
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="alert alert-info">
                                                        <strong>No Records</strong><br />
                                                    </div>
                                                </div>
                                            </div>
                         }

<script>


    jQuery(function ($) {
        $('#tblPreprocess').dataTable({

            "aoColumns": [
                              null, null, null, null,null

            ]

        });

    });

</script>

